<div class="panel">
	<h1 class="text-center header">Wage Calculator</h1>
</div>

<div id="alert" class="text-center">
	<% flash.each do |message| -%>
		<div class="alert alert-#{type} text-center">
			<%= message %>
		</div>
	<% end -%>
</div>

<div class="container">
	<% if @rule.errors.any? %>
		<%= pluralize(@rule.errors.count, "error") + " prohibited this rule from being saved:" %>
		<ul>
			<% @rule.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4 text-center col-md-offset-4">
			<h2>Adjusted Wage</h2>
			<div id="wage-display">$0/hr</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<h3>Base Wage</h3>
			<div id="base-wage-display">$0/hr</div>
			<input type="text" id="base-wage-input" class="form-control">
			<div>&nbsp;</div>
			<button id="change-base-wage" class="btn btn-default">Change Base Wage</button>
		</div>

		<div class="col-md-3">
			<h3>Select Rule</h3>
			<div>&nbsp;</div>
			<select class="form-control">
				<% @rules.each do |rule| -%>
					<option><%= '$' + rule.cost_modifier + ' ' + rule.description%></option>
				<% end -%>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 rule-form col-md-offset-3">
			<h3>Add Rule</h3>
			<%= simple_form_for @rule do |f| %>
			  <%= f.input :description, required: false %>
			  <%= f.input :cost_modifier, required: false %>
			  <%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>
